*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #00264B;
    width: 100%;
    position: fixed;
    bottom: 0;
}
div{
    display: block;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.col-box1 {
    margin-left: 100px;
}

.col-box1 p {
    font-size: 30px;
    color: #FFFFFF;
    align-items: center;
}

.col-box2{
    line-height: 2;
    margin-right: 100px;
}

.col-box2 i{
    width: 30px;
    height: 24px;
    color: #FFFFFF;
    align-items: center;
}

@media screen and (max-width: 856px) {
    .col-box1 p{
        font-size: 25px;
        margin-left: 20px;
    }

    .col-box1,
    .col-box2 {
        margin: 0;
    }
}