:root{
    --font-color : #392210;
  }
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFEDAE;
}

::-webkit-scrollbar {
    display: none;
}

main {
    margin: 88px 32px 44px;
    display: flex; /* card 3개 수평정렬 */
    justify-content: center; /* card 3개 가운데 정렬 */
    column-gap: 60px;
    row-gap: 40px;
    flex-wrap: wrap; /* 너비 좁아지면, 내리자 */
}

.log-img {
    width: 100px;
    height: 80px;
    align-items: center;
    float: left;
    margin-bottom: 12px;
}

.tit{
    margin-top: 100px;
    font-size: 30px;
    color: black;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 10px;
}

hr {
    border:0;
    width: 230px;
    margin: 0;
    height: 0.5px;
    background-color: var(--font-color);
}


/* 각각의 카드 */
.card {
    background-color: #D9D9D9;
    border-radius: 1.5rem;
    max-width: 228px; /* 최대 너비: 228px */
    padding: 23px;
}

/* 카드 안의 내용 */
.card-description {
    display: flex;
    flex-direction: column;
}

/* 카드 이미지 */
.img {
    width: 228px;
    height: 130px;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* 카드 속 정보 p태그 */
.identity {
    font-family: 'NanumSquareNeo-Variable';
    margin-top: auto;
    line-height: 200%;
    font-weight: bold;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 3px 10px;
    margin-bottom: 13px;
}

.identity-last {
    margin-bottom: 0;
}