body {
    background-color: #FFEDAE;
}
main {
    margin: 88px 32px 44px;
    display: flex; /* card 3개 수평정렬 */
    justify-content: center; /* card 3개 가운데 정렬 */
    column-gap: 60px;
    row-gap: 40px;
    flex-wrap: wrap; /* 너비 좁아지면, 내리자 */
}
.log-img {
    width: 100px;
    height: 80px;
    align-items: center;
    float: left;
}
.title{
    float: left;
    align-items: center;
}
.card {
    background-color: #D9D9D9;
    border-radius: 1.5rem;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 240px; */
    flex: 1 0 240px;
    max-width: 228px; /* 최대 너비: 228px */
    height: 293px;
}
.card-description {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
}
.card-title {
    display: flex;
    justify-content: center;  /* 날짜 | 식 가운데 정렬 */
    column-gap: 1rem;
}
.card-menu {
    text-align: center; /* 메뉴 가운데 정렬 */
}
.img{
    width: 198px;
    height: 120px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.kind {
    margin-top: 110px;
    line-height: 200%;
    font-weight: bold;
}
  