html, body{
    height: 100%;
}
body {
    background-color: #FFEDAE;
}
.log-img {
    width: 100px;
    height: 80px;
}
.main {
    height :100%;
}
.main:hover { cursor : url() 20 30 auto; }
body{ cursor: url('cursor.cur'), auto;}