:root{
    --font-color : #392210;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFEDAE;
}

* {
    cursor: url(/image/cursor.png), auto;
}

.log-img {
    width: 100px;
    height: 80px;
    margin-bottom: 12px;
}
::-webkit-scrollbar {
    display: none;
}
.tit{
    margin-top: 100px;
    font-size: 30px;
    color: black;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 10px;
}

hr {
    border:0;
    width: 297px;
    margin: 0;
    height: 0.5px;
    background-color: var(--font-color);
}

.introduce {
    display: flex;
    margin: 50px;
    margin-left: 7vw;
    margin-right: 6vw;
    gap: 5vw;
}

.story-image {
    width: 40vw;
    border-radius: 30px;
    
}

.story-p {
    font-size: 1.5rem;
    font-family: 'NanumSquareNeo-Variable';
    line-height: 2.5rem;
}

.story-strong {
    font-weight :bold; 
    font-size : 35px;
}

@media screen and (max-width: 768px){

    .tit{
        font-size: 25px;
    }
    
    hr {
        width: 250px;
    }

    .story-image {
        width: 550px;
        border-radius: 30px;
    }

    .introduce {
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .story-p {
        font-size: 1.25rem;
        font-family: 'NanumSquareNeo-Variable';
        line-height: 2rem;
    }
}

@media screen and (max-width: 600px){
    .tit{
        font-size: 20px;
        margin-top: 80px;
    }
    
    hr {
        width: 200px;
    }

    .introduce {
        margin: 30px;
    }

    .story-image {
        width: 300px;
        border-radius: 30px;
    }

    .story-p {
        font-size: 16px;
        font-family: 'NanumSquareNeo-Variable';
        line-height: 30px;
        margin: 0 50px;
    }

    .story-strong {
        font-size: 23px;
    }

}